{% extends 'base.html.twig' %}

{% block title %}{{ 'produit.editionProduit' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'produit.modification' | trans }} {{ produit.nom }}</h1>

    {{ include('produit/_form.html.twig') }}
{% endblock %}
