{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1 class="text-center">Produits</h1>
    {% if produits is empty %}
        <div class="alert alert-danger mt-5">Pas de produit pour le moment</div>
    {% else %}
        <div class="row justify-content-md-center">
            {% for produit in produits %}
                <div class="col-md-auto">
                    <div class="card mt-5" style="width: 25rem;">
                        {% if produit.photo %}
                            <img src="../{{ asset('images/' ~ produit.photo) }}" class="card-img-top" alt="image de produit" style="height: 162px">
                        {% else %}
                            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body p-2">
                            <h1 class="card-title text-center">{{ produit.nom }}</h1>
                            <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-primary mx-auto d-block w-25 mt-3">Voir +</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="text-center mt-5">
        <a href="{{ path('app_produit_new') }}" class="btn btn-success">Ajouter un produit</a>
    </div>
    {% endif %}
{% endblock %}
