{% extends 'base.html.twig' %}

{% block title %}{{ 'produit.nouveauProduit' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'produit.creationProduit' | trans }}</h1>

    {{ include('produit/_form.html.twig') }}
{% endblock %}
