{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>Erreur 403 😡</h1>
        <p>Hop! Hop! Hop! Tu as franchi la ligne blanche</p>
        <p>Tu n'as pas le droit d'être ici, <a href="{{ path('app_produit_index') }}">rebrousse chemin !</a> </p>
    </div>
{% endblock %}
