{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>Erreur</h1>
        <p>Oula! 😥 Quelque chose d'horrible vient de se produire</p>
        <p>Il y a eu une erreur lors du chargement de la page, veuillez contacter l'administrateur du serveur</p>
    </div>
{% endblock %}
