{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1>Erreur 500</h1>
        <p>Erreur serveur. Tu ne peux rien faire pour le moment à part contacter l'adminstrateur du serveur</p>
    </div>
{% endblock %}
